body { 
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  
}


h3 {
  color:white;
  text-align: center;
}


p{ 
  color:white;
}
.center{ 
display:flex;
flex-direction: column;
justify-content: center;
width:200px;
}
img { 
  width:auto;
  height:200px;
  
}

button{ 
  color:white;
  background-color: black;
  border:1px solid red;
  cursor: pointer;
}

